*.log
.bundle/
.vendor/
.DS_Store
data/*.sqlite
data/*.sqlite-*
data/corpora/*.sqlite
data/corpora/*.sqlite-*

# Rails web app
/web/tmp/
/web/log/
/web/storage/
/web/vendor/bundle
/web/config/master.key
