*.log
.bundle/
.vendor/
.DS_Store
/tmp/
data/*.sqlite
data/*.sqlite-*
data/corpora/*.sqlite
data/corpora/*.sqlite-*
data/verse_indices/*.marshal
data/file_stats/*.marshal
data/file_stats/
data/word_streams/*.marshal
data/lexicons/*.marshal
data/canon_ordinals/*.marshal

# Rails web app
/web/tmp/
/web/log/
/web/storage/
/web/vendor/bundle
/web/config/master.key
